- form_for(@db_metric, :url => url) do |f|
  .form-area
    %p.title
      = f.label :name
      = f.text_field :name, :class => 'textbox'
    %p.title
      = f.label :description
      = f.text_field :description, :class => 'textbox'

  %p.buttons
    = f.submit 'Save', :class => 'button'
    or
    = link_to 'Cancel', admin_metrics_path